.main-section section{
  border: 1px solid #000000;
  height: 700px;
  width: 960px;
}

div.content{
  font-size: 32px;
  line-height: 40px;
  height: 85%;
  padding: 30px;
}

div.horizontal > div {
  max-height: 50%;
  margin-bottom: 30px;
}

div.vertical > div {
  margin-right: 30px;
  height: 100%;
  display: inline-block;
}

div.header {
  border-bottom: none;
  background-color: #292929;
  color: #ffffff;
  font-family: "open sans", "open-sans", arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  padding: 40px 30px 30px;
  font-size: 50px;
}

.reveal .slides > section > section.present {
  padding: 0;
}

div.content {
  height: auto;
}

div.content pre {
  white-space: pre-line;
  text-align: left;
  margin: 0;
  font-family: "open sans", "open-sans", arial, sans-serif;
  font-weight: 300;
  line-height: 1.45;
}

.content code {
  background-color: #f1f1f1;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  font-weight: normal;
  font-size: 75%;
}

.content .indent-1 {
  padding-left: 20px;
}

.content .indent-2 {
  padding-left: 40px;
}

.content .indent-3 {
  padding-left: 60px;
}

.content .indent-4 {
  padding-left: 80px;
}

.content .indent-5 {
  padding-left: 100px;
}

.code-block {
  background-color: #f1f1f1;
}
